<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProjectsMapper">
    
    <resultMap type="Projects" id="ProjectsResult">
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="description"    column="description"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="status"    column="status"    />
        <result property="priority"    column="priority"    />
        <result property="budget"    column="budget"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectProjectsVo">
        select project_id, project_name, description, start_date, end_date, status, priority, budget, created_at, updated_at from projects
    </sql>

    <select id="selectProjectsList" parameterType="Projects" resultMap="ProjectsResult">
        <include refid="selectProjectsVo"/>
        <where>  
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="priority != null  and priority != ''"> and priority = #{priority}</if>
            <if test="budget != null "> and budget = #{budget}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectProjectsByProjectId" parameterType="Long" resultMap="ProjectsResult">
        <include refid="selectProjectsVo"/>
        where project_id = #{projectId}
    </select>

    <insert id="insertProjects" parameterType="Projects" useGeneratedKeys="true" keyProperty="projectId">
        insert into projects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="description != null">description,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="status != null">status,</if>
            <if test="priority != null">priority,</if>
            <if test="budget != null">budget,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="description != null">#{description},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="status != null">#{status},</if>
            <if test="priority != null">#{priority},</if>
            <if test="budget != null">#{budget},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateProjects" parameterType="Projects">
        update projects
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="budget != null">budget = #{budget},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteProjectsByProjectId" parameterType="Long">
        delete from projects where project_id = #{projectId}
    </delete>

    <delete id="deleteProjectsByProjectIds" parameterType="String">
        delete from projects where project_id in 
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
</mapper>